@page
@model pizza_mama.Pages.Admin.Pizzas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.vegan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.vegan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.ingredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.ingredients)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pizza.PizzaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
